
body{
    background: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.addUser{
    margin: 50px auto;
    width: 25%;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(0,0, 0, 0.065);
    font-size: 16px;
}

.addUserForm .input{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addUserForm .input label{
    margin: 10px;
}

.addUserForm .input input{
    margin-top: px;
    padding: 10px;
}

.input button{
    margin-top: 10px;
    background-color: #0c005a;
    color: white;
    border-radius: 10px;
    border: 1px;
    padding: 10px;
    font-size: 15px;
}
input{
    width: 90%;
    padding: 5px;
    margin-bottom: 2vh;
    border: 1px solid #0c005a;
    border-radius: 4px;
}

a {
    color: #0c005a;
    font-weight: bold;
}


.login{
    margin-top: 30px;
    text-align: center;
}

.login .login-btn{
    margin-top: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px;
    padding: 8px;
    width: 50%;
    text-decoration: none;
}

.addUser h3{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #0c005a;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0,0, 0, 0.7);
}

label{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #5C5C5C;
    width: 250px;
}

p{
    color: #0c005a;
}

